@model IEnumerable<TsBlog.ViewModel.Post.PostViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ASP. NET MVC 5 series article tutorial - home page";
}
<div class="jumbotron">
    <h1> Hello, buddy</h1>
    <p> Welcome to Rector's ASP.NET MVC 5 series article tutorials. Here, Rector will work with you step by step to create a WEB application that integrates Repository + Autofac + Automapper + SqlSugar. </p>
    <p> Are you ready? </p>
    <p>......</p>
    <p> Let's start exploring ASP. NET MVC 5 applications!!!</p>
</div>
<strong class="post-title">list of articles (@(Model.Count()) </strong>
<ul class="list-unstyled post-item-box">
    @foreach (var p in Model)
    {
        <li>
            <h2><a href="~/post/details/@p.Id">@p.Title</a></h2>
            <p class="post-item-summary">@p.Summary... <a href="~/post/details/@p.Id"> Read the full text</a></p>
        </li>
    }
</ul>