@model TsBlog.ViewModel.Post.PostViewModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>Post id:@Model.Id</p>
    <p>Post Title:@Model.Title</p>
    <p>Post PublishedAt:@Model.PublishedAt</p>
    <p>Post IsDeleted:@Model.IsDeleted</p>
</div>